---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Introduction from '../components/Introduction.astro';
import Skills from '../components/Skills.astro';
---

<Layout title="Sergi.dev">
	
	<Header />
	
	<main>
		<!-- Content -->
		<Introduction />
		<Skills />
	</main>
	<Footer />

</Layout>
