<section id="aboutme" class="container py-12 mx-auto">
    <div class="w-full border-t-2 border-zinc-50 border-opacity-10 py-12 px-10">
        <h3 class="text-center text-3xl font-bold text-slate-200">
            Sobre mí
        </h3>
        <div class="pt-10 px-4 lg:px-48 text-stone-200/80 text-xl mx-auto">
            <p>
                ¡Hola! Soy Sergi, un programador graduado del ciclo superior de Desarrollo de Aplicaciones Multiplataforma en 2024 con matrícula de honor.
            </p>
            <p class="pt-8">
                He adquirido un sólido conocimiento en diversas tecnologías y lenguajes de programación como Java, PHP, Python, JavaScript, HTML, CSS y SQL. Además, tengo experiencia en desarrollo móvil con Android y frameworks como CodeIgniter y Fast API.
            </p>
            <p class="pt-8">
                Además de mis habilidades técnicas, me considero una persona creativa, comprometida y adaptable. Disfruto colaborando con otros y siempre estoy buscando maneras de mejorar y aprender. Mis habilidades personales como la responsabilidad, el trabajo en equipo y la adaptabilidad me permiten enfrentar desafíos de manera eficiente y eficaz.
            </p>
            <p class="text-center mt-24 font-semibold text-yellow-100">
                ¡Gracias por visitar mi portfolio!
            </p>
        </div>
        
    </div>
</section>