<section id="aboutme" class="container py-12 mx-auto">
    <div class="w-full border-t-2 border-zinc-50 border-opacity-5 py-12 px-10">
        <h3 class="text-center text-3xl font-bold text-slate-200">
            Sobre mi
        </h3>
        <div class="pt-10 px-4 lg:px-48 text-stone-200/80 text-xl mx-auto">
            <p>
                ¡Hola! Soy un apasionado de la tecnología de 19 años, recién graduado del ciclo superior de desarrollo de aplicaciones multiplataforma.
            </p>
            <p class="pt-12">
                Mis próximos pasos incluyen especializarme en inteligencia artificial y big data, campos que me fascinan. Me interesa especialmente explorar la tecnología blockchain, el data science y el machine learning. Además, tengo la  intención de ampliar mis conocimientos aprendiendo frameworks de frontend como React, Node.js y Svelte, entre otros.
            </p>
            <p class="text-center mt-10 font-semibold text-yellow-100">
                ¡Gracias por visitar mi portfolio!
            </p>
        </div>
        
    </div>
</section>