<section id="experiencia" class="container pb-12 mx-auto">
    <div class="w-full border-t-2 border-zinc-50 border-opacity-10 py-12 px-10">
        <h3 class="text-center pb-12 text-3xl font-bold text-slate-200">
            Experiencia Laboral
        </h3>
        <div
            class="grid grid-cols-1 lg:grid-cols-4 mx-auto bg-stone-100 bg-opacity-15 rounded-2xl p-12 gap-x-10 items-center shadow-md shadow-[#000]/30"
        >
            <div class="grid items-center lg:justify-items-end">
                <img
                    src="http://tphmarketing.com/wp-content/uploads/2017/09/logo_tph.png"
                    alt="TPH Marketing"
                    class="lg:w-full md:w-1/2 w-full"
                />
            </div>
            <div class="py-10 lg:py-10">
                <h5 class="text-xl font-semibold text-yellow-100">
                    Programador Web
                </h5>
                <p class="text-xl text-zinc-300 pt-2">Prácticas</p>
                <p class="text-base text-zinc-300 pt-2 opacity-35">
                    oct. 2023 - mar. 2024 · 6 meses
                </p>
            </div>
            <div class="lg:col-span-2 px-2">
                <p class="text-base text-zinc-300">
                    Durante mis seis meses de prácticas en una empresa de
                    marketing, tuve la oportunidad de sumergirme en el mundo del
                    desarrollo web, especialmente utilizando el framework
                    CodeIgniter de PHP. Además, he trabajado con HTML, CSS,
                    Bootstrap y JavaScript, contribuyendo tanto al desarrollo de
                    páginas web como a la creación de API REST y componentes
                    para sistemas CRM.
                </p>
                <a href="/"
                    ><button
                        class="mt-4 rounded-xl border-2 px-4 py-1 border-stone-400 text-stone-400 font-medium brightnes-115 hover:text-slate-100 hover:bg-stone-400"
                    >
                        Saber más</button
                    ></a
                >
            </div>
        </div>
    </div>
</section>
