---

---
<header class="py-8 px-4 mx-auto max-w-xl lg:py-16 lg:px-6">
    <nav>
        <ul class="flex flex-wrap -mx-2 overflow-hidden">
            <li>
                <a href="#" class="block py-3 px-2 text-sm font-medium leading-5 hover:text-blue text-white">Home</a>
                
            </li>
        </ul>
    </nav>
</header>