<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
        viewBox="0 0 256 256"
    >
        <defs>
            <linearGradient x1="37%" y1="51%" x2="178.1%" y2="41.9%" id="a">
                <stop stop-color="#FC801D" offset="9%"></stop>
                <stop stop-color="#B07F61" offset="23%"></stop>
                <stop stop-color="#577DB3" offset="41%"></stop>
                <stop stop-color="#1E7CE6" offset="53%"></stop>
                <stop stop-color="#087CFA" offset="59%"></stop>
            </linearGradient>
            <linearGradient x1="73.6%" y1="114.8%" x2="35.6%" y2="1.1%" id="b">
                <stop stop-color="#FE2857" offset="0%"></stop>
                <stop stop-color="#CB3979" offset="8%"></stop>
                <stop stop-color="#9E4997" offset="16%"></stop>
                <stop stop-color="#7557B2" offset="25%"></stop>
                <stop stop-color="#5362C8" offset="34%"></stop>
                <stop stop-color="#386CDA" offset="44%"></stop>
                <stop stop-color="#2373E8" offset="54%"></stop>
                <stop stop-color="#1478F2" offset="66%"></stop>
                <stop stop-color="#0B7BF8" offset="79%"></stop>
                <stop stop-color="#087CFA" offset="100%"></stop>
            </linearGradient>
            <linearGradient x1="28.6%" y1="23.6%" x2="81.8%" y2="129.8%" id="c">
                <stop stop-color="#FE2857" offset="0%"></stop>
                <stop stop-color="#FE295F" offset="8%"></stop>
                <stop stop-color="#FF2D76" offset="21%"></stop>
                <stop stop-color="#FF318C" offset="30%"></stop>
                <stop stop-color="#EA3896" offset="38%"></stop>
                <stop stop-color="#B248AE" offset="55%"></stop>
                <stop stop-color="#5A63D6" offset="79%"></stop>
                <stop stop-color="#087CFA" offset="100%"></stop>
            </linearGradient>
        </defs>
        <path fill="url(#a)" d="M40.5 180.6 2.9 150.8l22.1-41 33.3 11.1z"
        ></path>
        <path fill="#087CFA" d="m256 68.2-4.6 148.3-98.6 39.5-53.7-34.7z"
        ></path>
        <path fill="url(#b)" d="m256 68.2-48.8 47.6L144.5 39l31-34.8z"></path>
        <path
            fill="url(#c)"
            d="m99.1 221.3-78.5 28.4 16.5-57.5 21.2-71.3L0 101.4 37.1 0l83.8 9.9 86.3 105.9z"
        ></path>
        <path d="M49.1 48h160v160h-160z"></path>
        <path
            d="M69 177.8h60v10H69v-10ZM99 79V68H69.2v11h8.4v37.7h-8.4v11H99v-11h-8.3V79H99Zm28.5 49.4.2.1c-4.1.2-8.1-.8-11.8-2.6a27 27 0 0 1-7.7-6.3l8.2-9.2c1.5 1.7 3.2 3.1 5.2 4.3 1.7 1.1 3.7 1.7 5.7 1.6 2.2.2 4.3-.7 5.8-2.3a11 11 0 0 0 2.2-7.5V68h13.3v39a27 27 0 0 1-1.5 9.4c-1.7 5-5.7 9-10.8 10.6-2.8 1-5.8 1.5-8.8 1.4Z"
            fill="#FFF"></path>
    </svg>

    <p class="pt-2">IntelliJ IDEA</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        viewBox="0 0 256 254"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="xMidYMid"
        ><defs
            ><linearGradient id="c" x1="50%" x2="50%" y1="0%" y2="100%"
                ><stop offset="0%" stop-color="#FFF"></stop><stop
                    offset="100%"
                    stop-color="#FFF"
                    stop-opacity="0"></stop></linearGradient
            ><path
                id="a"
                d="M180.828 252.605a15.872 15.872 0 0 0 12.65-.486l52.501-25.262a15.94 15.94 0 0 0 9.025-14.364V41.197a15.939 15.939 0 0 0-9.025-14.363l-52.5-25.263a15.877 15.877 0 0 0-18.115 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233 100.507 91.695a15.853 15.853 0 0 0 5.464 3.571Zm10.464-183.649-76.262 57.889 76.262 57.888V68.956Z"
            ></path></defs
        ><mask id="b" fill="#fff"><use xlink:href="#a"></use></mask><path
            fill="#0065A9"
            d="M246.135 26.873 193.593 1.575a15.885 15.885 0 0 0-18.123 3.08L3.466 161.482c-4.626 4.219-4.62 11.502.012 15.714l14.05 12.772a10.625 10.625 0 0 0 13.569.604L238.229 33.436c6.949-5.271 16.93-.315 16.93 8.407v-.61a15.938 15.938 0 0 0-9.024-14.36Z"
        ></path><path
            fill="#007ACC"
            d="m246.135 226.816-52.542 25.298a15.887 15.887 0 0 1-18.123-3.08L3.466 92.207c-4.626-4.218-4.62-11.502.012-15.713l14.05-12.773a10.625 10.625 0 0 1 13.569-.603l207.132 157.135c6.949 5.271 16.93.315 16.93-8.408v.611a15.939 15.939 0 0 1-9.024 14.36Z"
        ></path><path
            fill="#1F9CF0"
            d="M193.428 252.134a15.892 15.892 0 0 1-18.125-3.083c5.881 5.88 15.938 1.715 15.938-6.603V11.273c0-8.318-10.057-12.483-15.938-6.602a15.892 15.892 0 0 1 18.125-3.084l52.533 25.263a15.937 15.937 0 0 1 9.03 14.363V212.51c0 6.125-3.51 11.709-9.03 14.363l-52.533 25.262Z"
        ></path><path
            fill="url(#c)"
            fill-opacity=".25"
            d="M180.828 252.605a15.874 15.874 0 0 0 12.65-.486l52.5-25.263a15.938 15.938 0 0 0 9.026-14.363V41.197a15.939 15.939 0 0 0-9.025-14.363L193.477 1.57a15.877 15.877 0 0 0-18.114 3.084L74.857 96.35l-43.78-33.232a10.614 10.614 0 0 0-13.56.603L3.476 76.494c-4.63 4.211-4.635 11.495-.012 15.713l37.967 34.638-37.967 34.637c-4.623 4.219-4.618 11.502.012 15.714l14.041 12.772a10.614 10.614 0 0 0 13.56.604l43.78-33.233 100.506 91.695a15.857 15.857 0 0 0 5.465 3.571Zm10.464-183.65-76.262 57.89 76.262 57.888V68.956Z"
        ></path></svg
    >

    <p class="pt-2">VS Code</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 105 105">
        <linearGradient
            id="a"
            x1="38.78"
            x2="95.91"
            y1="41.59"
            y2="41.59"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset="0" stop-color="#21d789"></stop>
            <stop offset="1" stop-color="#07c3f2"></stop>
        </linearGradient>
        <linearGradient
            id="b"
            x1="-29.18"
            x2="88.46"
            y1="85.52"
            y2="-1.32"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset=".01" stop-color="#fcf84a"></stop>
            <stop offset=".11" stop-color="#a7eb62"></stop>
            <stop offset=".21" stop-color="#5fe077"></stop>
            <stop offset=".27" stop-color="#32da84"></stop>
            <stop offset=".31" stop-color="#21d789"></stop>
            <stop offset=".58" stop-color="#21d789"></stop>
            <stop offset=".6" stop-color="#21d789"></stop>
            <stop offset=".69" stop-color="#20d68c"></stop>
            <stop offset=".76" stop-color="#1ed497"></stop>
            <stop offset=".83" stop-color="#19d1a9"></stop>
            <stop offset=".9" stop-color="#13ccc2"></stop>
            <stop offset=".97" stop-color="#0bc6e1"></stop>
            <stop offset="1" stop-color="#07c3f2"></stop>
        </linearGradient>
        <linearGradient
            id="c"
            x1="17.3"
            x2="36.92"
            y1="110.99"
            y2="49.42"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset="0" stop-color="#21d789"></stop>
            <stop offset=".16" stop-color="#24d888"></stop>
            <stop offset=".3" stop-color="#2fd985"></stop>
            <stop offset=".43" stop-color="#41dc80"></stop>
            <stop offset=".55" stop-color="#5ae079"></stop>
            <stop offset=".67" stop-color="#7ae46f"></stop>
            <stop offset=".79" stop-color="#a1ea64"></stop>
            <stop offset=".9" stop-color="#cff157"></stop>
            <stop offset="1" stop-color="#fcf84a"></stop>
        </linearGradient>
        <linearGradient
            id="d"
            x1="43.28"
            x2="85.97"
            y1="57.46"
            y2=".06"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset="0" stop-color="#21d789"></stop>
            <stop offset=".09" stop-color="#23d986"></stop>
            <stop offset=".17" stop-color="#2ade7b"></stop>
            <stop offset=".25" stop-color="#36e669"></stop>
            <stop offset=".27" stop-color="#3bea62"></stop>
            <stop offset=".35" stop-color="#47eb61"></stop>
            <stop offset=".49" stop-color="#67ed5d"></stop>
            <stop offset=".69" stop-color="#9af156"></stop>
            <stop offset=".92" stop-color="#e0f64d"></stop>
            <stop offset="1" stop-color="#fcf84a"></stop>
        </linearGradient>
        <linearGradient
            id="e"
            x1="108.58"
            x2="22.55"
            y1="64.77"
            y2="63.97"
            gradientUnits="userSpaceOnUse"
        >
            <stop offset=".39" stop-color="#fcf84a"></stop>
            <stop offset=".46" stop-color="#ecf74c"></stop>
            <stop offset=".61" stop-color="#c1f451"></stop>
            <stop offset=".82" stop-color="#7eef5a"></stop>
            <stop offset="1" stop-color="#3bea62"></stop>
        </linearGradient>
        <path
            fill="url(#a)"
            d="m71.81 19.65 28.05 23.33-10.1 20.55-16.91-4.69H58.22z"></path>
        <path
            fill="url(#b)"
            d="m43.55 34.8-5.43 28.73-.52 9.76-13.69 5.93L4.5 81.31l5.89-62.07L45.56 4.5l21.67 14.21z"
        ></path>
        <path
            fill="url(#c)"
            d="m43.55 34.8 2.64 55.36-8.77 10.34L4.5 81.31l27.03-40.28z"></path>
        <path fill="url(#d)" d="M79.77 30.76H46.51L75.9 4.5z"></path>
        <path
            fill="url(#e)"
            d="m100.5 90.38-29.28 9.94-38.99-10.98L43.55 34.8l4.52-4.04 23.74-2.23-2.15 23.84 18.88-7.32z"
        ></path>
        <path d="M22.5 22.5h60v60h-60z"></path>
        <path
            fill="#fff"
            d="M29.98 71.16h22.5v3.75h-22.5zM30 30h9.2c5.36 0 8.61 3.18 8.61 7.77v.06c0 5.2-4.05 7.9-9.09 7.9H35v6.74h-5zm8.86 11.33c2.47 0 3.92-1.47 3.92-3.4v-.06c0-2.22-1.54-3.41-4-3.41H35v6.87zm11.63-.02v-.06A11.41 11.41 0 0 1 62.2 29.63a11.59 11.59 0 0 1 8.86 3.46l-3.14 3.63a8.33 8.33 0 0 0-5.75-2.54c-3.79 0-6.52 3.15-6.52 7v.07c0 3.85 2.67 7.06 6.52 7.06 2.57 0 4.14-1 5.91-2.63l3.14 3.17a11.46 11.46 0 0 1-9.21 4 11.35 11.35 0 0 1-11.52-11.54"
        ></path>
    </svg>
    <p class="pt-2">JetBrains PyCharm</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="1.5"
        class="icon icon-tabler icon-tabler-terminal-2"
        viewBox="0 0 24 24"
        ><path stroke="none" d="M0 0h24v24H0z"></path><path
            d="m8 9 3 3-3 3M13 15h3"></path><path
            d="M3 6a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"
        ></path></svg
    >
    <p class="pt-2">Terminal</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
        viewBox="0 0 256 256"
    >
        <path
            d="M251.17 116.6 139.4 4.82a16.49 16.49 0 0 0-23.31 0l-23.21 23.2 29.44 29.45a19.57 19.57 0 0 1 24.8 24.96l28.37 28.38a19.61 19.61 0 1 1-11.75 11.06L137.28 95.4v69.64a19.62 19.62 0 1 1-16.13-.57V94.2a19.61 19.61 0 0 1-10.65-25.73L81.46 39.44 4.83 116.08a16.49 16.49 0 0 0 0 23.32L116.6 251.17a16.49 16.49 0 0 0 23.32 0l111.25-111.25a16.5 16.5 0 0 0 0-23.33"
            fill="#DE4C36"></path>
    </svg>

    <p class="pt-2">Git</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        viewBox="0 0 256 250"
        fill="#000"
        xmlns="http://www.w3.org/2000/svg"
        preserveAspectRatio="xMidYMid"
    >
        <path
            d="M128.001 0C57.317 0 0 57.307 0 128.001c0 56.554 36.676 104.535 87.535 121.46 6.397 1.185 8.746-2.777 8.746-6.158 0-3.052-.12-13.135-.174-23.83-35.61 7.742-43.124-15.103-43.124-15.103-5.823-14.795-14.213-18.73-14.213-18.73-11.613-7.944.876-7.78.876-7.78 12.853.902 19.621 13.19 19.621 13.19 11.417 19.568 29.945 13.911 37.249 10.64 1.149-8.272 4.466-13.92 8.127-17.116-28.431-3.236-58.318-14.212-58.318-63.258 0-13.975 5-25.394 13.188-34.358-1.329-3.224-5.71-16.242 1.24-33.874 0 0 10.749-3.44 35.21 13.121 10.21-2.836 21.16-4.258 32.038-4.307 10.878.049 21.837 1.47 32.066 4.307 24.431-16.56 35.165-13.12 35.165-13.12 6.967 17.63 2.584 30.65 1.255 33.873 8.207 8.964 13.173 20.383 13.173 34.358 0 49.163-29.944 59.988-58.447 63.157 4.591 3.972 8.682 11.762 8.682 23.704 0 17.126-.148 30.91-.148 35.126 0 3.407 2.304 7.398 8.792 6.14C219.37 232.5 256 184.537 256 128.002 256 57.307 198.691 0 128.001 0Zm-80.06 182.34c-.282.636-1.283.827-2.194.39-.929-.417-1.45-1.284-1.15-1.922.276-.655 1.279-.838 2.205-.399.93.418 1.46 1.293 1.139 1.931Zm6.296 5.618c-.61.566-1.804.303-2.614-.591-.837-.892-.994-2.086-.375-2.66.63-.566 1.787-.301 2.626.591.838.903 1 2.088.363 2.66Zm4.32 7.188c-.785.545-2.067.034-2.86-1.104-.784-1.138-.784-2.503.017-3.05.795-.547 2.058-.055 2.861 1.075.782 1.157.782 2.522-.019 3.08Zm7.304 8.325c-.701.774-2.196.566-3.29-.49-1.119-1.032-1.43-2.496-.726-3.27.71-.776 2.213-.558 3.315.49 1.11 1.03 1.45 2.505.701 3.27Zm9.442 2.81c-.31 1.003-1.75 1.459-3.199 1.033-1.448-.439-2.395-1.613-2.103-2.626.301-1.01 1.747-1.484 3.207-1.028 1.446.436 2.396 1.602 2.095 2.622Zm10.744 1.193c.036 1.055-1.193 1.93-2.715 1.95-1.53.034-2.769-.82-2.786-1.86 0-1.065 1.202-1.932 2.733-1.958 1.522-.03 2.768.818 2.768 1.868Zm10.555-.405c.182 1.03-.875 2.088-2.387 2.37-1.485.271-2.861-.365-3.05-1.386-.184-1.056.893-2.114 2.376-2.387 1.514-.263 2.868.356 3.061 1.403Z"
        ></path>
    </svg>

    <p class="pt-2">GitHub</p>
</div>
<div
    class="px-6 text-center text-zinc-50/80 font-medium text-base hover:scale-125 transition duration-700"
>
    <svg
        xmlns="http://www.w3.org/2000/svg"
        width="80"
        height="90"
        viewBox="0 0 128 128"
        fill="none"
    >
        <path
            opacity="0.2"
            d="M49.8535 123.492C47.8751 123.023 46.2193 121.926 43.9021 119.549C40.0315 115.578 36.8904 113.925 31.4309 112.985C25.7674 112.01 23.2506 109.905 21.7375 104.877C19.8698 98.6708 17.9177 95.6985 13.6285 92.5305C8.7629 88.9366 7.51452 85.7674 8.70211 80.0242C9.80208 74.7048 9.38087 70.9229 7.14689 66.0604C4.48145 60.2587 4.81049 57.1586 8.5962 52.4053C12.0668 48.0478 13.1561 45.1674 13.6759 38.9737C14.2004 32.7233 15.9394 30.159 21.0608 28.0837C25.3351 26.3518 28.9917 23.3452 31.0189 19.8957C33.3632 15.9068 33.7054 15.4495 35.1579 14.3658C37.5018 12.6171 39.3969 12.1325 43.0061 12.3588C49.2755 12.7519 52.6358 11.9991 56.846 9.25832C62.3354 5.68473 65.6639 5.68473 71.1534 9.25832C75.3636 11.9991 78.7239 12.7519 84.9933 12.3588C90.922 11.987 93.389 13.5434 97.0028 19.9355C98.7937 23.1032 102.454 26.1862 106.461 27.9007C112.167 30.3428 113.825 32.5717 114.246 38.3638C114.702 44.6367 115.988 48.144 119.395 52.4053C123.189 57.1501 123.52 60.2531 120.852 66.0604C118.619 70.9229 118.197 74.7048 119.297 80.0242C120.485 85.7674 119.236 88.9366 114.371 92.5305C110.082 95.6985 108.13 98.6708 106.262 104.877C104.749 109.905 102.232 112.01 96.5685 112.985C91.0974 113.927 87.9527 115.585 84.0973 119.562C79.8233 123.969 76.7594 124.697 70.7842 122.721C65.8971 121.106 62.1344 121.099 57.2668 122.697C53.8571 123.816 52.0396 124.011 49.8535 123.492V123.492Z"
            fill="black"></path>
        <path
            d="M49.8535 122.321C47.8751 121.851 46.2193 120.754 43.9021 118.377C40.0315 114.407 36.8904 112.753 31.4309 111.814C25.7674 110.839 23.2506 108.733 21.7375 103.706C19.8698 97.499 17.9177 94.5267 13.6285 91.3586C8.7629 87.7647 7.51452 84.5955 8.70211 78.8524C9.80208 73.5329 9.38087 69.751 7.14689 64.8885C4.48145 59.0868 4.81049 55.9867 8.5962 51.2335C12.0668 46.8759 13.1561 43.9955 13.6759 37.8018C14.2004 31.5514 15.9394 28.9871 21.0608 26.9119C25.3351 25.1799 28.9917 22.1733 31.0189 18.7238C33.3632 14.7349 33.7054 14.2776 35.1579 13.194C37.5018 11.4452 39.3969 10.9606 43.0061 11.1869C49.2755 11.58 52.6358 10.8273 56.846 8.08645C62.3354 4.51285 65.6639 4.51285 71.1534 8.08645C75.3636 10.8273 78.7239 11.58 84.9933 11.1869C90.922 10.8151 93.389 12.3715 97.0028 18.7636C98.7937 21.9314 102.454 25.0143 106.461 26.7289C112.167 29.1709 113.825 31.3998 114.246 37.192C114.702 43.4648 115.988 46.9721 119.395 51.2335C123.189 55.9782 123.52 59.0812 120.852 64.8885C118.619 69.751 118.197 73.5329 119.297 78.8524C120.485 84.5955 119.236 87.7647 114.371 91.3586C110.082 94.5267 108.13 97.499 106.262 103.706C104.749 108.733 102.232 110.839 96.5685 111.814C91.0974 112.755 87.9527 114.414 84.0973 118.39C79.8233 122.798 76.7594 123.525 70.7842 121.55C65.8971 119.934 62.1344 119.927 57.2668 121.525C53.8571 122.644 52.0396 122.839 49.8535 122.321V122.321Z"
            fill="white"></path>
        <path
            d="M85.0051 59.0295C84.6361 58.2764 84.9524 57.3728 85.7054 57.0038C86.4584 56.6349 87.362 56.9511 87.731 57.7041C88.1 58.4572 87.7837 59.3608 87.0307 59.7298C86.2777 60.0987 85.3741 59.7825 85.0051 59.0295ZM92.332 74.0898C91.963 73.3368 92.2792 72.4332 93.0323 72.0642C93.7853 71.6952 94.6889 72.0115 95.0579 72.7645C95.4269 73.5175 95.1106 74.4211 94.3576 74.7901C93.6046 75.1591 92.7009 74.8428 92.332 74.0898ZM92.972 54.549C88.1527 51.1077 81.865 50.2192 76.0442 52.4707L91.9554 85.1893C97.3169 82.004 100.495 76.4995 100.766 70.5883L106.805 71.0175C107.151 71.0401 107.453 70.7841 107.475 70.4301C107.498 70.0837 107.242 69.7825 106.888 69.76L100.773 69.3232C100.713 66.7479 100.096 64.1199 98.8681 61.5897C97.6407 59.0671 95.954 56.9587 93.966 55.3171L97.3998 50.2342C97.5955 49.9481 97.5202 49.5565 97.2341 49.3607C96.948 49.1649 96.5564 49.2402 96.3606 49.5264L92.972 54.5415"
            fill="#3DDC84"></path>
        <path
            d="M78.3033 66.8683C73.8153 69.037 68.9884 70.1364 63.9583 70.1364C52.6254 70.1364 42.3316 64.3834 36.3301 55.2267C35.8557 54.5038 34.8768 54.3306 34.1765 54.8426L28.4008 59.0972C27.7457 59.5791 27.5951 60.4978 28.0544 61.1755C35.9385 72.9452 49.2895 80.3172 63.9583 80.3172C70.5321 80.3172 76.8499 78.8789 82.731 76.0401L78.3033 66.8683Z"
            fill="#4285F4"></path>
        <path
            d="M63.9057 30.6708H67.0307V23.7656C67.0307 22.0412 65.6301 20.6406 63.9057 20.6406C62.1813 20.6406 60.7806 22.0412 60.7806 23.7656V30.6708H63.9057Z"
            fill="#4285F4"></path>
        <path
            d="M55.7729 44.1499L34.2893 88.367C33.8225 89.3234 33.574 90.3625 33.5514 91.4243L33.4234 97.215C33.3932 98.7135 35.1252 99.5569 36.2848 98.6081L40.7577 94.9334C41.5785 94.2632 42.2412 93.4198 42.7081 92.4635L63.8829 48.8713L55.7804 44.1574L55.7729 44.1499Z"
            fill="#4285F4"></path>
        <path
            d="M94.2671 91.4167C94.2445 90.355 93.9885 89.3158 93.5292 88.3595L72.0456 44.1423L63.9431 48.8713L85.118 92.4484C85.5848 93.4047 86.2475 94.2406 87.0683 94.9183L91.5412 98.593C92.7008 99.5418 94.4403 98.6984 94.4027 97.1999L94.2747 91.4092L94.2671 91.4167Z"
            fill="#4285F4"></path>
        <path
            d="M63.9053 30.1211C58.7321 30.1211 54.5303 34.3305 54.5303 39.4962C54.5303 44.6619 58.7396 48.8713 63.9053 48.8713C69.071 48.8713 73.2804 44.6619 73.2804 39.4962C73.2804 34.3305 69.071 30.1211 63.9053 30.1211ZM63.9053 44.6544C61.0665 44.6544 58.7472 42.3426 58.7472 39.4962C58.7472 36.6498 61.0589 34.338 63.9053 34.338C66.7517 34.338 69.0635 36.6498 69.0635 39.4962C69.0635 42.3426 66.7517 44.6544 63.9053 44.6544Z"
            fill="#073042"></path>
    </svg>
    <p class="pt-2">Android Studio</p>
</div>
