---
import FrontendIcons from "./FrontendIcons.astro";
import BackendIcons from "./BackendIcons.astro";
import HerramIcons from "./HerramIcons.astro";
---
<section id="tecnologia" class="container pb-12 mx-auto">
    <div class="w-full border-t-2 border-zinc-50 border-opacity-10 py-12 px-10">
        <h3 class="text-center pb-12 text-3xl font-bold text-slate-200">
            Tecnologías
        </h3>
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mx-auto">
            <div class=" items-center justify-items-center bg-stone-100 bg-opacity-15 rounded-2xl p-6 md:p-12 gap-x-10 shadow-md shadow-[#000]/30">
                <h5 class="text-xl font-semibold text-yellow-100 text-center uppercase border-b-2 border-zinc-50/50 px-6">
                    Frontend
                </h5>
                <div class="grid grid-cols-3 lg:gap-4 xl:gap-12 gap-12 mx-auto mt-10 items-baseline">
                    <FrontendIcons/>
                </div>
            </div>
            <div class=" items-center justify-items-center bg-stone-100 bg-opacity-15 rounded-2xl p-6 md:p-12 gap-x-10 shadow-md shadow-[#000]/30">
                <h5 class="text-xl font-semibold text-yellow-100 text-center uppercase border-b-2 border-zinc-50/50 px-6">
                    Backend
                </h5>
                <div class="grid grid-cols-3 lg:gap-4 xl:gap-12 gap-12 mx-auto mt-10 items-baseline">
                    <BackendIcons/>
                </div>
            </div>
            <div class=" items-center justify-items-center bg-stone-100 bg-opacity-15 rounded-2xl p-6 md:p-12 gap-x-10 shadow-md shadow-[#000]/30">
                <h5 class="text-xl font-semibold text-yellow-100 text-center uppercase border-b-2 border-zinc-50/50 px-6">
                    Herramientas
                </h5>
                <div class="grid grid-cols-3 lg:gap-4 xl:gap-12 gap-12 mx-auto mt-10 items-baseline">
                    <HerramIcons/>
                </div>
            </div>

        </div>
    </div>
</section>