---
// Supports weights 100-900
import '@fontsource-variable/onest';
import Noise from '../components/Noise.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;

---
<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="description" content="Astro description" /> -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Portfolio Sergi</title>
	</head>
	<body class="bg-gradient-to-tl from-blue-950 via-stone-700 to-gray-900">
		<Noise/>
		<slot />
	</body>
</html>

<style>
	body {
	font-family: 'Onest Variable', sans-serif;
	}
</style>
