---
// Supports weights 100-900
import "@fontsource-variable/onest";
import Noise from "../components/Noise.astro";
import Footer from "../components/Footer.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es" class="scroll-smooth">
	<head>
		<meta charset="UTF-8" />
		<!-- <meta name="description" content="Astro description" /> -->
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<!-- <meta name="generator" content={Astro.generator} /> -->
		<title>Portfolio Sergi</title>
	</head>
	<body class="bg-gradient-to-tl from-blue-950 via-stone-700 to-gray-900">
		<Noise />
		<slot />
		<Footer />
	</body>
</html>

<style>
	body::-webkit-scrollbar {
		width: 10px; /* width of the entire scrollbar */
	}

	body::-webkit-scrollbar-track {
		background: #555452; /* color of the tracking area */
	}

	body::-webkit-scrollbar-thumb {
		background-color: #0000006c; /* color of the scroll thumb */
		border-radius: 20px; /* roundness of the scroll thumb */
		
	}
	body {
		font-family: "Onest Variable", sans-serif;
	}
</style>
